/* This is the CSS file. */

body {
	color:#F0F;
}

a {
	height: 2px;
	justify-content: center;
	animation-name: unset;
}

p {
	transform: matrix();
	line-height: 1.25;
}

span {
	right: inherit;
}

div {
	background: yellow;
}

