/* This is the CSS file. */

body {
	color:#F0F;
}

::selection {
	color: #FFF;
	background-color: #E54545;
}

li {
	list-style: none;
	color: #bada55;
}

a {
	height: 2px;
	justify-content: center;
	animation-name: unset;
}

p {
	line-height: 1.25;
}

span {
	right: inherit;
}

div {
	background: yellow;
}
